.category-page {
  padding: 30px;
  width: 100%;
  /* margin-left: 112px; */
}

.category-title {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 28px;
  text-align: center;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 45px;
}

.category-loading {
  color: #fff;
  text-align: center;
  margin-top: 120px;
  font-size: 18px;
}
