.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #1c1f2a;
  padding: 14px 18px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.search-icon {
  font-size: 18px;
  opacity: 0.7;
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 15px;
  width: 100%;
}
.section-title {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 16px;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 45px;
}
.search-page {
  padding: 30px;
  width: 100%;
  margin-left: 112px;
}


.content-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.content-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.25s ease;
}

.content-card:hover img {
  transform: scale(1.05);
}

.language-tag {
  position: absolute;
  bottom: 8px;
  left: 8px;
  background: rgba(0,0,0,0.6);
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 6px;
  color: #fff;
}
