.footer{
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-between;
    padding: 20px 55px 20px 15px;
    border-top: 1px solid #4e4e4f78;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col>li>h4{
    color: #e1e6f0;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.col>li{
    color: #8F98B2;
    font-size: 14px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.flex-col-div{
    display: flex;
    flex-direction: column;
    color: #707A94;
    font-size: 14px;
}
.row-copyright{
    display: flex;
    gap: 16px;
}
.downloadStore{
    display: flex;
    gap: 5px;
    margin-right: 21px;
}
.downloadStore>img{
    width: 120px;
    height: 40px;
}
.me-2{
    margin-right: 4px;
}