.hero-carousel-container {
  position: relative;
  width: 100%;
  /* height: 950px; */
  border-radius: 12px;
  margin-bottom: 20px;
}

.hero-image {
  position: relative;
  width: 100%;
  min-height: 80vh;
  height: auto;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    #0f1014 0%,
    rgba(15, 16, 20, 0.7) 18.39%,
    rgba(15, 16, 20, 0) 35.5%,
    rgba(15, 16, 20, 0.1) 53.05%,
    rgba(15, 16, 20, 0.1) 40.06%,
    rgba(15, 16, 20, 0) 100%
  );
}
.slide {
  padding: 0;
}
.content {
  position: absolute;
  bottom: -10%;
  left: 4%;
  transform: translateY(-50%);
  color: white;
  max-width: 50%;
  z-index: 199999999999999999999;
  text-align: justify;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.meta {
  font-size: 1.2rem;
  margin-bottom: 10px;
  opacity: 0.8;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  max-height: 4.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.9;
  margin-bottom: 20px;
}

.tags {
  margin-bottom: 20px;
}

.tag {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px 15px;
  margin-right: 10px;
  border-radius: 30px;
  font-size: 0.9rem;
  display: inline-block;
}

.buttons {
  display: flex;
  gap: 10px;
}

.subscribe-btn,
.plus-btn {
  padding: 12px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.subscribe-btn {
  background: linear-gradient(92.7deg, #1492ff 0%, #0860c4 50%, #eb0066 100%) !important;
  font-size: 1.1rem;
  font-weight: 600;
  width: 21.7rem;
}

.plus-btn {
  background-color: hsla(0, 0%, 100%, 0.2);
  border: none;
  font-size: 1.4rem;
  padding: 12px;
  width: 50px;
  height: 50px;
}

.plus-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.carousel .carousel-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .carousel-root {
  max-width: 100%;
  width: 100%;
}

.control-dots {
  display: none;
}

@media (max-width: 768px) {
  .content {
    max-width: 70%;
  }

  .title {
    font-size: 2rem;
  }

  .meta {
    font-size: 1rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .buttons {
    flex-direction: column;
  }

  .subscribe-btn {
    font-size: 0.9rem;
  }

  .plus-btn {
    font-size: 1.2rem;
  }
}

