.movie-card-wrapper {
  position: relative;
  width: 210px;
  height: 320px;
  flex: 0 0 180px;
  transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.movie-img {
  width: 100%;
  /* height: 100%; */
  border-radius: 8px;
  object-fit: cover;
}
.h-315 {
  height: 315px;
}

.movie-popup {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%) translateY(20px) scale(0.96);
  width: 360px;
  padding: 0;
  background: #1b1b1e;
  border-radius: 12px;
  overflow: hidden;
  opacity: 0;
  animation: popupFade 420ms cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s forwards;
  z-index: 9999;
}
.popup-title {
  font-size: 1.05rem;
  font-weight: 600;
  color: white;
  margin: 3px 15px 4px 15px;
  line-height: 1.3;
}
.popup-banner {
  position: relative;
  width: 100%;
  height: 160px;
  overflow: hidden;
}
.popup-banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 160px;
  background: linear-gradient(
    1deg,
    #0f1014 8.24%,
    rgba(15, 16, 20, 0) 77.46%
  );
  z-index: 9;
}
.popup-language-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.65);
  padding: 4px 10px;
  font-size: 0.8rem;
  border-radius: 6px;
  color: white;
}

.movie-popup-top {
  display: flex;
  gap: 10px;
  padding: 15px;
}
.watch-btn1 {
  flex: 1;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  /* background: linear-gradient(92deg,#1492ff,#eb0066); */
  background: #fff;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
.plus-btn {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  color: #fff;
  font-size: 22px;
}

.movie-meta {
  font-size: 0.86rem;
  color: #cfcfcf;
  margin: 0 15px;
}
.movie-overview {
  margin: 10px 15px 20px 15px;
  font-size: 0.92rem;
  color: #e6e6e6;
  line-height: 1.45;
  max-height: 7em;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes popupFade {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(20px) scale(0.94);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0) scale(1);
  }
}
