.otpInput{
    width: 50px;
    height: 50px;
    margin: 8px;
    text-align: center;
    font-size: 22px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #8f98b2;
    color: #fff;
}