.sideBar{
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    z-index: 5;
    background: transparent;
    overflow: hidden;
    transition: width 0.3s ease;
    /* position: relative; */
}
.hotLogo{
    width: 51px;
    height: 37.8px;
}
.logo{
    margin: 32px 0;
    position: absolute;
    top: 0;
    left: 23px;
}
.navItems{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* align-items:center ; */
    padding: 2.5rem 0;
    position: absolute;
    left: 8px;
    gap: 2px;
}
.navItems>li>a{
    color: #757575;
    text-decoration: none;
    display: flex;
    /* gap: 15px; */
}
.navItems>li>a>i{
    min-width: 60px;
  text-align: center;
  line-height: 1;
}
li{
    list-style-type: none;
    padding: 16px 0 16px 12px;
    font-size: 18px;
}
.diff-icon{
    margin-left: 19px;
    margin-right: 22px;
}
.navItem-txt{
    display: none;
}
.navItems>li>a:hover{
    color: #fff;
}